@import url("bootstrap/css/bootstrap.css");

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  background: #fefefe;
  color: #444444;
}

.editpage {
  padding: 15px;
}

.layer-anchor {
  width: 100%;
  display: block;
  background-color: #aaa;
  height:1px;
}

.userpage {
  padding: 15px;
  overflow-x: hidden;
}

.booklist{
  padding-top: 80px;
}

.homepage{
  margin-top: 200px;
  text-align: center;
}

.signform{
  padding-bottom: 30px;
}

.signform_btn{
  margin-top: 13px;
}

.bookblock{
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  height: 250px;
  margin-right: 15px;
}

.newbook_btn{
  margin-top: 13px;
}