@import url("bootstrap/css/bootstrap.css");

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  background: #fefefe;
  color: #444444;
}

.editpage {
  padding: 15px;
}

.app-columns{
  padding-top: 80px;
}

.layer-anchor {
  width: 100%;
  display: block;
  background-color: #aaa;
  height:1px;
}

.userpage {
  padding: 15px;
  overflow-x: hidden;
}

.bookblock-container{
  padding-top: 20px;
}

.booklist{
  padding-top: 60px;
}

.homepage{
  margin-top: 200px;
  text-align: center;
}

.signform{
  padding-bottom: 30px;
}

.signform_btn{
  margin-top: 13px;
}

.bookblock{
  height: 250px;
  overflow: hidden;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34,25,25,0.4);
  margin: 0 0px 15px;
}

.newbook_btn{
  margin-top: 13px;
}