@import url("bootstrap/css/bootstrap.css");

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  background: #fefefe;
  color: #444444;
}

.editpage {
  padding: 15px;
}

.workspacepage {
  padding: 15px;
}

.app-columns{
  padding-top: 80px;
}

.layer-anchor {
  width: 100%;
  display: block;
  background-color: #aaa;
  height:1px;
}

.userpage {
  padding: 15px;
  overflow-x: hidden;
}

.bookblock-container{
  padding-top: 20px;
}

.booklist{
  padding-top: 60px;
}

.homepage{
  margin-top: 200px;
  text-align: center;
}

.signform{
  padding-bottom: 30px;
}

.signform_btn{
  margin-top: 13px;
}

.bookblock{
  height: 250px;
  overflow: hidden;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34,25,25,0.4);
  margin: 0 0px 15px;
}

.newbook_btn{
  margin-top: 13px;
}

.heading-edit{
  border: 0px;
  text-align: center;
  font-size: 200%;
  box-shadow: 0 0 0;
  height: 40px; 
  overflow: hidden;
}

.part-edit{
  border: 0px;
  font-size: 120%;
  width: 360px;
}

.layer-name{
  width: 360px;
}

#layer-panel li {
    list-style: none;
}

.modal-trig {
    float: right;
}

.save_btn {
    width: 50px;
    margin-bottom: 30px;
    padding: 2px;
    float: right;
}

.createlayer_btn{
    width: 60px;
    float: right;
    padding: 2px;
}

.work-tab{
  margin-top: 100px;
}

.work-tab-item{
  border: 0px;
}

.work-table{
  border: : 0px;
  margin-top: 10px;
}