@import url("bootstrap/css/bootstrap.css");

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  background: #fefefe;
  color: #444444;
}

.App {
  padding: 15px;
}

.layer-anchor {
  width: 100%;
  display: block;
  background-color: #aaa;
  height:1px;
}

.Welcome {
  padding: 15px;
}

.booklist{
  padding-top: 80px;
}

#homepage{
  margin-top: 200px;
}

.ezblogin{
  padding-bottom: 30px;
}